{{!-- {{page-title "Delete"}} --}}
<h3>id: {{this.model.id}}</h3>
<ConfirmationDialog
  @ticketTitle={{this.model.title}}
  @dialogConfirm={{this.delete}}
  @dialogDeny={{fn this.application.changeRoute '/'}}
  @isOpen={{true}}
  @dialogMessage={{'Delete ticket?'}}
/>