{{!-- {{page-title 'Edit Ticket'}} --}}
<h3>id: {{this.model.ticket.id}}</h3>
<Modal @modalBtnClose={{this.discardChanges}} @path={{'/'}}>
  <Form>
    <h3>Edit ticket</h3>
    <small>Change status?</small>
    <PowerSelect
      @selected={{capitalize this.model.ticket.status}}
      @options={{this.types.statusType}}
      @onChange={{fn (mut this.model.ticket.status)}}
      as |status|
    >
      {{capitalize status}}
    </PowerSelect>
    <small>Change developer?</small>
    <PowerSelect
      @selected={{this.model.ticket.developer}}
      @options={{this.developers}}
      @onChange={{fn (mut this.model.ticket.developer)}}
      as |user|
    >
      {{user.name}}
    </PowerSelect>
    <small>Change tester?</small>
    <PowerSelect
      @selected={{this.model.ticket.tester}}
      @options={{this.testers}}
      @onChange={{fn (mut this.model.ticket.tester)}}
      as |user|
    >
      {{user.name}}
    </PowerSelect>

    <Form::Input
      @labelTitle='Title'
      @type='text'
      @name='title'
      @placeholder='Enter Title'
      @value={{this.model.ticket.title}}
    />
    <Form::Textarea
      @labelTitle='Description'
      @name='description'
      @cols='30'
      @rows='10'
      @placeholder='Enter description here'
      @value={{this.model.ticket.description}}
    />

    <Form::Button @formBtnAct={{this.dialog.openDialog}} @formBtnName='Save' />

  </Form>
</Modal>
<ConfirmationDialog
  @ticketTitle={{this.model.title}}
  @dialogConfirm={{this.saveChanges}}
  @dialogDeny={{this.dialog.closeDialog}}
  @isOpen={{this.dialog.state}}
  @dialogMessage={{'Save changes to this ticket?'}}
/>