{{!-- {{page-title "Preview"}} --}}
<div class='ticket-big'>
  <h3>{{this.model.title}}</h3>
  <p>
    <span>status: {{this.model.status}}</span>
  </p>
  <p>
    <LinkTo @route='user.preview' @model={{this.model.developer.id}}>
      developer:
      {{this.model.developer.name}}
    </LinkTo>
  </p>
  <p>
    <LinkTo @route='user.preview' @model={{this.model.tester.id}}>
      tester:
      {{this.model.tester.name}}
    </LinkTo>
  </p>
  <p>
    <span>details: {{this.model.description}}</span>
  </p>
  <p>{{this.model.date}}</p>
</div>