<div class={{if @isOpen 'dialog-backdrop' 'hide'}}>
  <div class='dialog'>
    <div>Ticket Title: {{@ticketTitle}}</div>
    <h3 class='dialog-message'>{{@dialogMessage}}</h3>
    <div class='button-container'>
      <button {{on 'click' @dialogConfirm}}>Yes</button>
      <button {{on 'click' @dialogDeny}}>No</button>
    </div>
  </div>
</div>