<div class='form-group'>
  <label for={{concat @name @type}}>{{@labelTitle}}</label>
  <Input
    type={{@type}}
    name={{@name}}
    id={{concat @name @type}}
    placeholder={{@placeholder}}
    @value={{@value}}
    value={{@ticketValue}}
  />
  <small>Error message</small>
</div>