<div class='form-group'>
  <label for={{@for}}>{{@labelTitle}}</label>
  <Input
    type={{@type}}
    name={{@name}}
    id={{@id}}
    placeholder={{@placeholder}}
    @value={{@value}}
    value={{@ticketValue}}
  />
  <small>Error message</small>
</div>