<div class='form-group'>
  <label for={{@for}}>{{@labelTitle}}</label>
  <select name={{@name}} id='selected'>
    <option value={{@defaultOption}}>{{@defaultTitle}}</option>
    <option value={{@option1}}>{{@title1}}</option>
    <option value={{@option2}}>{{@title2}}</option>
    <option value={{@option3}}>{{@title3}}</option>
  </select>
</div>