<div class='form-group'>
  <label for={{@for}}>{{@labelTitle}}</label>
  <textarea name={{@name}} id={{@id}} cols={{@cols}} rows={{@rows}}>
    {{@defaultMess}}</textarea>
  <small>Error message</small>
</div>