<div class='form-group'>
  <label for={{@for}}>{{@labelTitle}}</label>
  <Textarea
    name={{@name}}
    id={{@id}}
    cols={{@cols}}
    rows={{@rows}}
    @value={{@value}}
    placeholder={{@placeholder}}
    value={{@ticketValue}}
  />
  <small>Error message</small>
</div>