<div class='form-group'>
  <label for={{@name}}>{{@labelTitle}}</label>
  <Textarea
    name={{@name}}
    id={{@name}}
    cols={{@cols}}
    rows={{@rows}}
    @value={{@value}}
    placeholder={{@placeholder}}
    value={{@value}}
  />
  <small>Error message</small>
</div>