{{!-- {{page-title 'Add User'}} --}}
<Modal @modalBtnClose={{this.cancelCreation}} @path={{'/'}}>
  <Form>
    <h3>Add new user</h3>

    <PowerSelect
      @placeholder='Choose user type...'
      @selected={{this.createUser.type}}
      @options={{this.types.userType}}
      @onChange={{fn (mut this.createUser.type)}}
      as |type|
    >
      {{capitalize type}}
    </PowerSelect>

    <Form::Input
      @labelTitle='Name'
      @type='text'
      @name='name'
      @placeholder='Enter Name'
      @value={{this.createUser.name}}
    />

    <Form::Input
      @labelTitle='Email'
      @type='email'
      @name='email'
      @placeholder='Email'
      @value={{this.createUser.email}}
    />

    <Form::Button @formBtnAct={{this.create}} @formBtnName='Create' />
  </Form>
</Modal>