<Modal @modalBtnClose={{this.application.changeRoute}} @whereTo={{'/'}}>
  <Form>
    <h3>Add new user</h3>

    <PowerSelect
      @selected={{this.selected}}
      @options={{this.types.userType}}
      @onChange={{this.changeType}}
      as |type|
    >
      {{type.label}}
    </PowerSelect>

    <Form::Input
      @labelTitle='Name'
      @type='text'
      @name='name'
      @placeholder='Enter Name'
      @value={{this.name}}
    />

    <Form::Input
      @labelTitle='Email'
      @type='email'
      @name='email'
      @placeholder='Email'
      @value={{this.email}}
    />

    <Form::Button
      @formBtnAct={{this.dialog.openDialog}}
      @formBtnName='Create'
    />
  </Form>
</Modal>
<ConfirmationDialog
  @ticketTitle={{this.title}}
  @dialogConfirm={{this.submitForm}}
  @dialogDeny={{this.dialog.closeDialog}}
  @isOpen={{this.dialog.state}}
  @dialogMessage={{'Create this user?'}}
/>