<Modal @modalBtnClose={{this.application.changeRoute}} @whereTo={{'/'}}>
  <Form>
    <h3>Add new ticket</h3>
    <PowerSelect
      @selected={{this.selected}}
      @options={{this.types.statusType}}
      @onChange={{this.changeStatus}}
      as |status|
    >
      {{status.label}}
    </PowerSelect>

    <PowerSelect
      @placeholder='Choose your developer'
      @selected={{this.developer}}
      @options={{this.developers}}
      @onChange={{this.changeDeveloper}}
      as |user|
    >
      {{user.name}}
    </PowerSelect>

    <PowerSelect
      @placeholder='Choose your tester'
      @selected={{this.tester}}
      @options={{this.testers}}
      @onChange={{this.changeTester}}
      as |user|
    >
      {{user.name}}
    </PowerSelect>

    <Form::Input
      @labelTitle='Title'
      @type='text'
      @name='title'
      @placeholder='Enter Title'
      @value={{this.title}}
    />

    <Form::Textarea
      @labelTitle='Description'
      @name='description'
      @cols='30'
      @rows='10'
      @placeholder='Enter description here'
      @value={{this.description}}
    />

    <Form::Button
      @formBtnAct={{this.dialog.openDialog}}
      @formBtnName='Create'
    />
  </Form>
</Modal>
<ConfirmationDialog
  @ticketTitle={{this.title}}
  @dialogConfirm={{this.submitForm}}
  @dialogDeny={{this.dialog.closeDialog}}
  @isOpen={{this.dialog.state}}
  @dialogMessage={{'Create this ticket?'}}
/>