<Modal @changeRoute={{this.changeRoute}}>
  <Form>
    <Form::Select
      @for='status'
      @labelTitle='Status'
      @name='status'
      @id='selected'
      @defaultOption='backlog'
    />

    <Form::Input
      @for='title'
      @labelTitle='Title'
      @type='text'
      @name='title'
      @id='title'
      @placeholder='Enter Title'
      @value={{this.title}}
    />

    <Form::Input
      @for='developer'
      @labelTitle='Developer Name'
      @type='text'
      @name='developer'
      @id='developer'
      @placeholder='Enter Name'
      @value={{this.developer}}
    />

    <Form::Input
      @for='tester'
      @labelTitle='Tester Name'
      @type='text'
      @name='tester'
      @id='tester'
      @placeholder='Enter Name'
      @value={{this.tester}}
    />

    <Form::Textarea
      @for='description'
      @labelTitle='Description'
      @name='description'
      @id='description'
      @cols='30'
      @rows='10'
      @placeholder='Enter description here'
      @value={{this.description}}
    />

    <Form::SubmitButton @submitForm={{this.submitForm}} />

  </Form>
</Modal>