<Modal @modalBtnClose={{this.cancelCreation}} @path={{'/'}}>
  <Form>
    <h3>Add new ticket</h3>
    <PowerSelect
      @placeholder='Choose status...'
      @selected={{this.createTicket.status}}
      @options={{this.types.statusType}}
      @onChange={{fn (mut this.createTicket.status)}}
      as |status|
    >
      {{capitalize status}}
    </PowerSelect>

    <PowerSelect
      @placeholder='Choose your developer...'
      @selected={{this.createTicket.developer}}
      @options={{this.developers}}
      @onChange={{fn (mut this.createTicket.developer)}}
      as |user|
    >
      {{user.name}}
    </PowerSelect>

    <PowerSelect
      @placeholder='Choose your tester...'
      @selected={{this.createTicket.tester}}
      @options={{this.testers}}
      @onChange={{fn (mut this.createTicket.tester)}}
      as |user|
    >
      {{user.name}}
    </PowerSelect>

    <Form::Input
      @labelTitle='Title'
      @type='text'
      @name='title'
      @placeholder='Enter Title'
      @value={{this.createTicket.title}}
    />

    <Form::Textarea
      @labelTitle='Description'
      @name='description'
      @cols='30'
      @rows='10'
      @placeholder='Enter description here'
      @value={{this.createTicket.description}}
    />

    <Form::Button @formBtnAct={{this.create}} @formBtnName='Create' />
  </Form>
</Modal>