<Header
  @headerDate={{'date'}}
  @headerMessage={{'message'}}
  @userIsLoged={{this.authentication.isAuth}}
  @userLoged={{this.authentication.loged.name}}
  @userLogedId={{this.authentication.loged.id}}
  @logOut={{this.authentication.logOut}}
/>
<div class='columns-container'>
  {{#each this.types.statusType as |ticketContainer|}}
    <TicketsContainer
      @status={{ticketContainer}}
      @header={{capitalize ticketContainer}}
      @message='Add or drop ticket'
    >{{#each this.model as |ticket|}}
        {{#if (compare ticketContainer ticket.status)}}
          <Ticket @ticket={{ticket}} />
        {{/if}}
      {{/each}}
    </TicketsContainer>
  {{/each}}
</div>

{{outlet}}