<Header @headerDate={{'date'}} @headerMessage={{'message'}} />
<div class='columns-container'>
  {{#each this.ticketTypes as |ticketContainer|}}
    <TicketsContainer
      @status={{ticketContainer.status}}
      @header={{capitalize ticketContainer.status}}
      @message='Add or drop ticket'
    >{{#each this.tickets.list as |ticket|}}
        {{#if (compare ticketContainer.status ticket.status)}}
          <Ticket
            @title={{ticket.title}}
            @ticket_id={{ticket.id}}
            @delete={{this.delete}}
            @date={{ticket.date}}
          />
        {{/if}}
      {{/each}}
    </TicketsContainer>
  {{/each}}
</div>

{{outlet}}