<Header @headerDate={{'date'}} @headerMessage={{'message'}} />
<div class='columns-container'>
  {{#each this.types.statusType as |ticketContainer|}}
    <TicketsContainer
      @status={{ticketContainer}}
      @header={{capitalize ticketContainer}}
      @message='Add or drop ticket'
    >{{#each this.model as |ticket|}}
        {{#if (compare ticketContainer ticket.status)}}
          <Ticket @ticket={{ticket}} />
        {{/if}}
      {{/each}}
    </TicketsContainer>
  {{/each}}
</div>

{{outlet}}