{{page-title 'Authenticate'}}
<Modal @modalBtnClose={{this.application.changeRoute}} @path={{'/'}}>
  <Form>
    <h3>Input Credentials</h3>

    <Form::Input
      @labelTitle='Name'
      @type='text'
      @name='name'
      @placeholder='Enter Your Name'
      @value={{this.authentication.logData.name}}
    />

    <Form::Input
      @labelTitle='Email'
      @type='email'
      @name='email'
      @placeholder='Enter Your Email'
      @value={{this.authentication.logData.email}}
    />

    <small
      class='alert-message {{unless this.authentication.alert 'hide'}}'
    >{{'Wrong credentials!'}}</small>

    <Form::Button @formBtnAct={{this.auth}} @formBtnName='Log In' />
  </Form>
</Modal>