<h3>id: {{this.model.id}}</h3>
<Modal @modalBtnClose={{this.application.changeRoute}}>
  <Form>
    <Form::Select
      @labelTitle='Status'
      @name='selectStatus'
      @defaultOption={{this.model.status}}
    />

    <Form::Input
      @labelTitle='Title'
      @type='text'
      @name='title'
      @placeholder='Enter Title'
      @value={{this.model.title}}
    />

    <Form::Input
      @labelTitle='Developer Name'
      @type='text'
      @name='developer'
      @placeholder='Enter Name'
      @value={{this.model.developer}}
    />

    <Form::Input
      @labelTitle='Tester Name'
      @type='text'
      @name='tester'
      @placeholder='Enter Name'
      @value={{this.model.tester}}
    />

    <Form::Textarea
      @labelTitle='Description'
      @name='description'
      @cols='30'
      @rows='10'
      @placeholder='Enter description here'
      @value={{this.model.description}}
    />

    <Form::Button @formBtnAct={{this.dialog.openDialog}} @formBtnName='Save' />

  </Form>
</Modal>
<ConfirmationDialog
  @ticketTitle={{this.model.title}}
  @dialogConfirm={{this.submitChanges}}
  @dialogDeny={{this.dialog.closeDialog}}
  @isOpen={{this.dialog.state}}
  @dialogMessage={{'Save changes to this ticket?'}}
/>