<h3>id: {{this.model.id}}</h3>
<Modal @modalBtnClose={{this.application.changeRoute}} @whereTo={{'/'}}>
  <Form>
    <h3>Edit ticket</h3>
    <Form::Select
      @labelTitle='Status'
      @name='selectStatus'
      @defaultOption={{this.model.status}}
      @values={{this.types.statusType}}
    />

    {{!--   <PowerSelect
      @selected={{this.model.status}}
      @options={{this.types.statusType}}
      @onChange={{this.changeStatus}}
      as |status|
    >
      {{status.label}}
    </PowerSelect> --}}

    <Form::Input
      @labelTitle='Title'
      @type='text'
      @name='title'
      @placeholder='Enter Title'
      @value={{this.model.title}}
    />

    <Form::SelectUser
      @labelTitle='Developers'
      @name='selectDeveloper'
      @values={{this.users}}
      @type='developer'
      @message={{this.model.developer.name}}
    />

    <Form::SelectUser
      @labelTitle='Testers'
      @name='selectTester'
      @values={{this.users}}
      @type='tester'
      @message={{this.model.tester.name}}
    />

    <Form::Textarea
      @labelTitle='Description'
      @name='description'
      @cols='30'
      @rows='10'
      @placeholder='Enter description here'
      @value={{this.model.description}}
    />

    <Form::Button @formBtnAct={{this.dialog.openDialog}} @formBtnName='Save' />

  </Form>
</Modal>
<ConfirmationDialog
  @ticketTitle={{this.model.title}}
  @dialogConfirm={{this.submitChanges}}
  @dialogDeny={{this.dialog.closeDialog}}
  @isOpen={{this.dialog.state}}
  @dialogMessage={{'Save changes to this ticket?'}}
/>