<div class='ticket-big'>
  <h3>{{this.model.title}}</h3>
  <p>
    <span>status: {{this.model.status}}</span>
  </p>
  <p>
    <span>developer: {{this.model.developer.name}} </span>
  </p>
  <p>
    <span>tester: {{this.model.tester.name}}</span>
  </p>
  <p>
    <span>details: {{this.model.description}}</span>
  </p>
  <p>{{this.model.date}}</p>
</div>